.hero {
  min-height: 700px;
  padding-top: 75px;
  background-image: url("../../assets/photo/mobile-hero.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 4px;
}

.description {
  font-size: 0.75rem;
  max-width: 212px;
  margin-bottom: 24px;
}

.formCard {
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-lg);
  padding: 0px 16px 24px 16px;
  background-color: var(--bg-white-opacity);
}

.row {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 16px;
}

.input {
  padding: 16px 8px;
  border: 1px solid var(--dark-blue);
  border-radius: var(--radius-md);
  background-color: var(--bg-white-opacity);

  width: 100%;
}

.fieldBox {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

.errorText {
  font-size: 0.75rem;
  position: absolute;
  top: 8px;
}

.tabsContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.tabBtn {
  color: inherit;
  padding: 12px 16px;
  border-radius: var(--radius-md);
  border: none;
  background-color: var(--bg-white-opacity);
  box-shadow: var(--shadow-lg);
  font-weight: 500;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s ease;
}

.activeTab {
  background-color: var(--main-teal);
  color: var(--bg-white);
  box-shadow: inset 0 4px 6px rgba(15, 23, 42, 0.15);
}

.submitBtn {
  margin-top: 24px;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: var(--radius-md);
  border: none;
  background-color: var(--main-teal);
  color: var(--bg-white);
  font-size: 1.25rem;
  font-weight: 500;
  box-shadow: var(--shadow-lg);
  transition: transform 0.2s ease;
}

.submitBtn:active {
  transform: scale(0.9);
}

@media (min-width: 768px) {
  .hero {
    background-image: url("../../assets/photo/mobile-hero.webp");
  }

  .title {
    font-size: 3rem;
  }

  .description {
    font-size: 1rem;
    max-width: 550px;
  }

  .formWrapper {
    justify-content: flex-start;
    max-width: 440px;
  }

  .tabBtn {
    font-size: 1.25rem;
    cursor: pointer;
    padding: 16px 16px;
  }

  .tabBtn:hover {
    transform: scale(1.1);
  }

  .input {
    padding: 12px 8px;
  }

  .submitBtn {
    cursor: pointer;
    font-size: 1.5rem;
  }
}
